@model UsuarioAdm
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, @Model.NomeUsuarioAdm</h1>
    <span>Seu e-mail é: @Model.EmailUsuarioAdm</span>
</div>
